@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

.navbar-brand{
    margin-left: 20px;
}
.myheader1{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  background-color: #141E39;
}
.myheader1 .logo{
  margin: 1px;
}
.myheader1 .navigation{
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  /* border: 1px solid red; */
}
.myheader1 button{
  width: 12%;
  background-color: #F2A84F;
  height: 50px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 3px;
}

.aboutus {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.aboutus .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.aboutus-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.aboutus-content .text {
  flex-basis: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutus-content .image {
  margin-left: 3%;
  flex-basis: 57%;
  height: 80vh; /* Set the image height to 80% of the viewport height */
  overflow: hidden;
}

.aboutus-content .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.aboutus-content .text h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #141E39;
}

.aboutus-content .text p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #141E39;
}

.aboutus-content .text button {
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 50%;
  background-color: #F2A84F;
  height: 50px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

.aboutus-content .text button:hover {
  background-color: black;
  border: 1px solid #F2A84F;
  color: #F2A84F;
}

.our-vision {
  padding: 50px 0;
  /* background-color: #f7f7f7; */
}

.our-vision .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.our-vision-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.our-vision-content .text {
  flex-basis: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-vision-content .image {
  margin-left: 3%;
  flex-basis: 57%;
  height: 80vh; /* Set the image height to 80% of the viewport height */
  overflow: hidden;
}

.our-vision-content .text h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F2A84F;
}

.our-vision-content .text p {
  font-size: 18px;
  margin-bottom: 20px;
  /* color: #141E39; */
}

.our-vision-content .text ul {
  font-size: 18px;
  margin-bottom: 20px;
  /* color: #141E39; */
}

.our-vision-content .text ul li b {
  color: #F2A84F;
}



.get-involved {
  padding: 50px 0;
  background-color: #f7f7f7;
}

.get-involved .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.get-involved-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.get-involved-content .text {
  flex-basis: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.get-involved-content .text h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #141E39;
}

.get-involved-content .text p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #141E39;
}

.get-involved-content .text ul {
  font-size: 18px;
  margin-bottom: 20px;
  /* color: #141E39; */
}

.get-involved-content .text ul li b {
  color: #F2A84F;
}



















.vision{
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 10%;
  background-color: #f7f7f7;
  margin: 0%;
  color: #141E39;
}

.vision p{
  width: 70%;
}






































































.header{
  position: relative;
  height: auto;
  margin-top: 0;
  z-index: 0;
  padding: 0;
}

.navbar{
  position: relative;
  padding: 0;
  margin: 0;
}

.myNav{
    background-color: rgb(20, 30, 57);
    margin-bottom: 2%;
}

.myNav a{
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    margin-right: 10px;
}

.myNav a:hover{
    color: rgb(228, 197, 144);
}

.myNav .special{
    background: rgb(228, 197, 144);
    height: 100;
}

.hero h1{
    font-family: "Forum", serif;
    font-weight: 550;
    font-style: normal;
    font-size: 75px;
}

.about-us{
    margin-bottom: 5%;
}

.about-us p{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgb(20, 30, 57);
    text-align: justify;
}

.footer{
    background: rgb(20, 30, 57);
    color: white;
    padding-bottom: 0%;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* font-size: 12px; */
}

.footer h5{
    color: rgb(242,168,79);
}

.copyright{
    color: rgb(242,168,79);
}

.footer-top {
    margin-block-end: 70px;
  }
  
  .footer-brand {
    position: relative;
    padding: 50px 40px;
    background: var(--smoky-black-1) url("../images/footer-form-bg.png");
    background-position: center top;
    background-repeat: repeat;
  }
  
  .footer-brand::before,
  .footer-brand::after {
    top: 0;
    width: 15px;
    height: 100%;
    background-image: url("../images/footer-form-pattern.svg");
  }
  
  .footer-brand::before {
    left: 0;
  }
  
  .footer-brand::after {
    right: 0;
  }
  
  .footer-brand .logo {
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 40px;
  }
  
  .footer-brand :is(.body-4, .label-1) {
    color: var(--quick-silver);
    line-height: var(--lineHeight-3);
  }
  
  .footer-brand .contact-link {
    margin-block: 6px;
    transition: var(--transition-1);
  }
  
  .footer-brand .contact-link:is(:hover, :focus-visible) {
    color: var(--gold-crayola);
  }
  
  .footer-brand .wrapper {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-block: 40px 25px;
  }
  
  .footer-brand .separator {
    animation: rotate360 15s linear infinite;
  }
  
  .footer-brand .label-1 {
    margin-block-end: 30px;
  }
  
  .footer-brand .label-1 .span {
    display: inline;
    color: var(--white);
  }
  
  .footer-brand .icon-wrapper .input-field {
    cursor: text;
  }
  
  .footer-brand .btn {
    min-width: 100%;
  }
  
  .footer-list {
    display: grid;
    gap: 20px;
  }
  
  .footer-link {
    color: var(--quick-silver);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-4);
    margin-inline: auto;
    transition: var(--transition-1);
  }
  
  .footer-link:is(:hover, :focus-visible) {
    color: var(--gold-crayola);
  }
  
  .copyright {
    color: var(--quick-silver);
    line-height: var(--lineHeight-3);
  }
  
  .copyright .link {
    display: inline;
    color: var(--gold-crayola);
    text-decoration: underline;
  }
  